<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    var vo = '<%- vo %>';

    window.onload = function() {
      document.getElementById('s_id').innerText = JSON.parse('<%-vo %>')._id;
      document.getElementById('_id').value = JSON.parse('<%-vo %>')._id;
      document.getElementById('id').value = JSON.parse('<%-vo %>').id;
      document.getElementById('pw').value = JSON.parse('<%-vo %>').pw;
    }

    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= vo %></p>
    <a href="users">users</a> <a href="/">home</a> <a href="list">list</a> <a href="test">test</a>
    <hr>
    <form action="updateOK" method="post">
      <label>_ID:</label><span id="s_id">99</span><input type="hidden" id="_id" name="_id" value=""><br>
      <label>ID:</label><input type="text" id="id" name="id" value=""><br>
      <label>PW:</label><input type="text" id="pw" name="pw" value=""><br>
      <input type="submit" value="send">
    </form>
  </body>
</html>
